body
{
  background-image:url("https://www.liveabout.com/thmb/0MG-CScgIr2joLMyz3HgMBlMb10=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/christredeemer-10139156-567c92283df78ccc15684502.jpg" );
}
p{
  font-size:20px;
  text-align:justify;
  padding-left:95px;
  padding-right:95px;
  padding-bottom:60px;
  line-height:30px;
  font-family:sans-serif;
}
h1{
  font-size:40px;
  text-align: center;
}
iframe
{
  margin-left:315px;
  background-color:pink;
}