body
{
  background-image:url("https://wpmisc.com/sites/default/files/wallpaper/travel/77549/roman-colosseum-hd-wallpapers-77549-2738857.png" );

}
p{
  font-size:20px;
  text-align:center;
  text-align:justify;
  padding-left:95px;
  padding-right:95px;
  padding-bottom:60px;
  line-height:30px;
  font-family:sans-serif;
}
h1{
  font-size:40px;
  text-align:center;

}
iframe
{
  margin-left:315px;
  background-color:pink;
}