h1
{
  font-size:40px;
  text-align:center;
  color:yellow;
}
body
{
  background-color:black;
  background-image: url(https://images.pexels.com/photos/573299/pexels-photo-573299.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size:1200px 800px;
}
#color
{
  color:purple;
  text-align:justify;
  font-family:cursive;
  line-height:2;
  margin-left:110px;
  margin-right:110px;
  font-size:22px;
}