body
{
  background-image:url("https://previews.123rf.com/images/carmengabriela/carmengabriela1705/carmengabriela170500015/78226553-machu-picchu-peru-unesco-world-heritage-site-one-of-the-new-seven-wonders-of-the-world.jpg" );
  background-size:1200px 800px;
}
p{
  font-size:20px;
  text-align:justify;
  padding-left:95px;
  padding-right:95px;
  padding-bottom:60px;
  line-height:30px;
  font-family:sans-serif;
}
h1{
  font-size:40px;
  text-align: center;
}
iframe
{
  margin-left:315px;
  background-color:pink;
}