h1{
  font-size: 40px;
  color:darkmagenta;
  font-family: 'Pacifico', cursive;
  padding:5px;
}
body{
  background-color:lightcoral;
}

table
{
  margin-left:auto;
  margin-right:auto;
}
.imgname
{
  font-size:25px;
  font-family: 'Merienda', cursive;
  padding-bottom:30px;
}
.imgrow2
{
  width:400px;
  height:350px;
}
.imgsizea
{
  width:550px;
  height:400px;
}