body
{
  background-image:url("http://www.bestwondertrip.com/uploads/posts/2017-03/best/the-seven-wonders-of-the-modern-world-02.jpg");
  background-size:1200px 800px;
  opacity:0.9;
}
p{
  font-size:20px;
  text-align:justify;
  padding-left:95px;
  padding-right:95px;
  padding-bottom:60px;
  line-height:30px;
  font-family:sans-serif;
}
h1{
  font-size:40px;
  text-align: center;
}
iframe
{
  margin-left:315px;
  background-color:pink;
}